<div class="top-home-gbs navbar-expand-sm navbar-light d-flex flex-column justify-content-center align-items-center">

  <div class="redirect-logos d-flex justify-content-center align-items-center">

    <a href="https://www.tiktok.com/@guidebyso"><%= image_tag "https://static.vecteezy.com/ti/vecteur-libre/p1/6057996-logo-tiktok-sur-fond-transparent-gratuit-vectoriel.jpg" %></a>

    <a href="https://www.instagram.com/guidebyso/"><%= image_tag "https://cdn-icons-png.flaticon.com/512/174/174855.png" %></a>

    <a href="https://www.facebook.com/profile.php?id=100079345668453"><%= image_tag "https://cdn-icons-png.flaticon.com/256/124/124010.png" %></a>

    <a href="https://mapstr.com/user/guidebyso"><%= image_tag "https://play-lh.googleusercontent.com/5PNPvDqjHmvEZpr-2KaGDF62AckPANQWr8vko6ha0aoZ1f8x_tFNcEHLMTcTCrLyqg" %></a>

  </div>

  <div class="navbar">

    <div class="logo-gbs d-flex justify-content-center">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ClmtMlt" %>
      <% end %>
    </div>

    <div class="actions-menu-gbs d-flex justify-content-center">

      <ul class="navbar-nav me-auto d-flex justify-content-around">

        <li class="nav-item active">
          <%= link_to "ACCUEIL", root_path, class: "nav-link" %>
        </li>

        <li class="nav-item dropdown">
          <p class="avatar dropdown-toggle nav-link" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">À PROPOS</p>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "PRÉSENTATION", presentation_path, class: "dropdown-item" %>
            <%= link_to "CV", cv_path, class: "dropdown-item" %>
            <%= link_to "PORTFOLIO", portfolio_path, class: "dropdown-item" %>
          </div>
        </li>

        <li class="nav-item">
          <%= link_to "PROJETS", projets_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "SERVICES", services_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "CONTACT", contact_path, class: "nav-link" %>
        </li>

      </ul>

    </div>

  </div>

</div>
