<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ClmtMlt" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto">

        <li class="nav-item active">
          <%= link_to "ACCUEIL", "#", class: "nav-link" %>
        </li>

        <li class="nav-item dropdown">
          <p class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">À PROPOS</p>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "PRÉSENTATION", "#", class: "dropdown-item" %>
            <%= link_to "CV", "#", class: "dropdown-item" %>
            <%= link_to "PORTFOLIO", "#", class: "dropdown-item" %>
          </div>
        </li>

        <li class="nav-item">
          <%= link_to "PROJETS", "#", class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "SERVICES", "#", class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "CONTACT", "#", class: "nav-link" %>
        </li>

      </ul>

    </div>

  </div>

</div>
