<div class="contact-container">

  <div class="contact-section">

    <div class="thanks-contact">

    </div>

  </div>

</div>

<div class="contact-new">

  <div class="contact-new-section">

    <div class="contact-new-header">

      <h1>Saisir titre pour attirer sur le formulaire de demande de contact en dessous!</h1>

    </div>

    <div class="contact-new-body">

      <div class="form-contact-new">

        <%= simple_form_for(@contact) do |f| %>
          <%= f.input :first_name, label: false, placeholder: "Ton prénom" %>
          <%= f.input :last_name, label: false, placeholder: "Ton nom" %>
          <%= f.input :brand, label: false, placeholder: "Ta marque" %>
          <%= f.input :website, label: false, placeholder: "Ton site web ou tes réseaux" %>
          <%= f.input :budget, label: false, placeholder: "Ton budget" %>
          <%= f.input :start_time, label: "Dispo à partir du..." %>
          <%= f.input :deadline, label: "Terminé avant le..." %>
          <%= f.input :asked_items, label: false, placeholder: "Tu souhaites..." %>
          <%= f.input :informations, label: false, as: :text, placeholder: "Décris ta demande ici, essaie d'être le/la plus précis(e)" %>
          <button type="submit" class="btn btn-success">Envoyer la demande de contact</button>
        <% end %>

      </div>

    </div>

  </div>



</div>
