<!DOCTYPE html>
<html>
  <head>
    <title>Guide By So</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="scroll-box">
      <div class="scroll-box-block">
        <%= render "shared/navbar" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
